.app {
    margin: auto;
    max-width: 1000px;
    padding: 10px;
}

.player-card {
    margin: 10px 0px;
}

.queue-control-panel {
    margin: 10px 0px;
}

.queue-control-btn-group, .full-width-btn {
    width: 100%;
    margin: 5px 0px;
}